.main
	position relative
	display block

	&__header
		position fixed
		top 0
		z-index 100
		width 100vw

		&_type
			&_transparent
				background transparent

			&_colored
				background linear-gradient(45deg, #5C1CDD, #701BB5)

	&__player
		position fixed
		bottom 0
		width 100%

	&__footer
		height 60px
		background #ffffff
