.page
	--gray_20 #FAFAFA
	--gray_40 #F4F6F5
	--gray_50 #EBF0ED
	--gray_100 #E1E5E3
	--gray_200 #C3CBC7
	--gray_300 #A9B2AD
	--gray_400 #909894
	--gray_500 #757A78
	--gray_600 #5C605E
	--gray_700 #434645
	--gray_800 #2D2F2E
	--gray_900 #191A1A
	--gray_950 #0A0A0A
	--green_100 #00E673
	--green_200 #00CC66
	--green_300 #00B359
	--green_400 #00994D
	--green_500 #007A3D
	--green_600 #006130

	&_theme
		&_light
			--primary var(--green_300)
			--primary-dark var(--green_500)
			--primary-text var(--gray_800)
			--secondary-text var(--gray_700)
			--accent-text var(--green_300)
			--contrast-text var(--gray_100)
			--primary-background var(--gray_20)
			--secondary-background var(--gray_100)
			--accent-background var(--green_600)
			--contrast-background var(--gray_950)
			--shadow rgba(0, 0, 0, .14)

		&_dark
			--primary var(--green_200)
			--primary-dark var(--green_400)
			--primary-text var(--gray_100)
			--secondary-text var(--gray_300)
			--accent-text var(--green_200)
			--contrast-text var(--gray_950)
			--primary-background var(--gray_900)
			--secondary-background var(--gray_800)
			--accent-background var(--green_400)
			--contrast-background var(--gray_100)
			--shadow rgba(0, 0, 0, .14)
