.chat
	position relative
	display block
	width 100%
	height 100%
	margin-right 30px

	+above(size-m)
		margin-right 0

	&__messages
		position absolute
		display flex
		justify-content flex-end
		flex-direction column
		width 100%
		min-height 100%
		padding 20px 0
