.emoji-panel
	display block
	background var(--secondary-background)
	border-radius 5px

	&__group
		display flex
		flex-wrap wrap
		padding 12px
		box-shadow 0 0 6px rgba(0, 0, 0, .4)

	&__item
		width 40px
		height 40px
		padding 4px
		border-radius 5px

		&:hover
			background var(--gray_700)

	&__icon
		width 32px
		height 32px
		cursor pointer
		background-image url('~assets/emoji/faces.png')
		background-position 0 0
		background-size 352px 160px
