.aside-panel
	visibility hidden
	overflow hidden auto
	flex-shrink 0
	width 0
	height 100%
	padding-bottom 10px
	background-color var(--secondary-background)
	opacity 0
	box-shadow -3px 0 6px rgba(0, 0, 0, .16)
	defaultTransition()

	+above(size-s)
		visibility visible
		width 200px
		opacity 1

	+above(size-m)
		width 300px

	&__section
		padding 0 10px
		padding-top 30px

		&-title
			margin-bottom 10px
			padding 0 5px
			color var(--secondary-text)
			font-size 14px
			font-weight 600
			user-select none
