.attach-panel
	display flex
	flex-direction column
	padding 12px
	background var(--secondary-background)
	border-radius 5px
	box-shadow 0 0 6px rgba(0, 0, 0, .4)

	&__item
		display flex
		align-items center
		height 40px
		padding 4px 8px 4px 4px
		cursor pointer
		border-radius 5px

		&:hover
			background var(--gray_700)

			& ^[0]__icon
				fill var(--accent-text)

	&__icon
		width 32px
		height 32px
		fill var(--primary-text)

	&__text
		margin-left 12px
		color var(--primary-text)
